.container {
    height: 100vh;
    background-color: #0A0909;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
   @media screen and (max-width:768px){
    flex-direction: column;
    padding: 2rem 0rem;
   }
    padding: 1rem 1rem;
    padding-bottom: 0%;
    .heading{
        color: #EFEFEF;
        align-self: flex-start;
        padding: 5rem 0rem;
        // white-space: nowrap;
        font-size: 2rem;
        @media screen and (max-width:768px){
            padding: 0rem 2rem; 
           
            font-size: 1.5rem;
           }
    .head {
       
        width: 100%;
        line-height: 2rem;
        font-family: 'Merriweather', serif;
        padding: .5rem;
        font-weight: 700;
        
    }
    .head2{
        width: 100%;
        line-height: 2rem;
        font-family: 'Merriweather', serif;
        padding: .5rem;
        font-weight: 700;
    }
}
    .form {
       
        height: 100%;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
       justify-content: space-between;
        margin: 0rem 1rem;
        padding: 5rem 0rem;
        @media screen and (max-width:768px){
            width: 100%;
           padding: 5rem 2rem;
           }
        .input {
            font-family: 'Jost', sans-serif;
            width: 100%;
            line-height: 1.5rem;
            padding: 1rem;
            background-color: transparent;
            border: 1px solid #8E8989;
            outline-color: gray;
            font-weight: 400;
            color: #8E8989;
            font-size: 1.25rem;
            align-self: flex-start;
        }

        .textarea {
            font-family: 'Jost', sans-serif;
            width: 100%;
            line-height: 2rem;
            flex-grow: 0.5;
            padding: 1rem;
            font-size: 1.25rem;
            background-color: transparent;
            outline-color: gray;
            font-weight: 400;
            color: #8E8989;
            resize: none;

        }

        .btn {
            border-radius: 2px;
            background-color: #0A0909;
            // margin-top: 5%;
            border: .8px solid #EFEFEF;
            color: #EFEFEF;
            padding: .8rem 5rem;
            font-size: 1.2rem;
            font-weight: 700;
            transition: background-color .2s;
            &:hover {
                background-color: #FFDF8D;
                cursor: pointer;
                color: #0A0909;
            }

            &:disabled {
                background-color: #FFDF8D;
                color: #0A0909;
                cursor: not-allowed;
                opacity: 0.5;
            }
        }
    }
}