.exp {
    width: 100%;
    height: auto;
    padding: 0px 30px;
    background-color: #0A0909;
    display: flex;
    flex-direction: column;
    align-content: center;
    .head {
        font-size: 2rem;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 30px;
        color: #FFFFFF;
    }
    .barContainer {

        width: 90%;
        display: flex;
        flex-direction: column;

        .left {
            hr {
                border-width: thin;
                width: 100%;
                border-color:#EFEFEF;
                 font-family: 'Jost',sans-serif; // font family
            }

            align-self: flex-start;
            width: 100%;
            margin-bottom:35px;
            .grpText{
                padding-left: 20px;
                margin-top: 1rem;
                .balance{
                    color: #FFDF8D;
                }
                h2{
                    color: #EFEFEF;
                }
            }
        }

        .bar {
            width: 100%;
            height: 28rem;
        }
    }

    .paymentHis {
        h2{
            padding: 5px;
            color:#EFEFEF
        }
        .list {
            padding: 5px;
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            
            .item {
                width: 100%;
                height: 60px;
                border-bottom: 1px solid #FFDF8D;
                display: flex;
                padding: 1rem;
                margin-bottom: 20px;
                border-radius: 9px;
                background-color: #1B1B1B;
                justify-content: space-between;
                color: #EFEFEF;
                transition: background-color .2s;
                .lefta {
                    align-self: flex-start;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: space-between;
                }

                h3 {
                    font-size: 1rem;
                    font-family: 'Jost',sans-serif; // font family

                }
            }
        }
        .item:hover{
            background-color: #FFDF8D;
            color: #1B1B1B;
        }
    }
}