.bcontainer {

    margin: 0%;
    padding: 5%;
    
    background-color: #F0EDE2;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
width:100vw;
height: 100vh;
   
    .acontainer{
        float: left;
        display: flex;
        margin-top: 10%;
      


 

.aboutContainer{
    max-width: 65%;
    
}
.content {
    padding-top: 5%;
    
    font-size: 1rem;
    padding-left:2% ;
    padding-right: 5%;

}
        .heading{
            color:#EF504D ;
            font-size: 1rem;
            padding-left: 5%;
    
         
        }

        .subhead{
            margin-top: 5%;
            color: black;
            border-style: solid;
            border-color: #EF504D;
            border-width: 2px;
            border-top: 0px;
            
            font-size: 1rem;
            
            border-right: 0px;
            border-bottom: 0px;
            padding-left: 2%;
            
        }
       
    
    .aboutimage{
        
        // border: 1px;
        // border-style: solid;
        min-width: 35%;
        padding-right: 0%;

        background-image:url('../../assets/image232.png') ;
        background-size: contain;
        background-repeat: no-repeat ;
  background-position: center;
        // margin-left: 10%;
    //    transform: scale(0.8);
    // display: flex;
    // justify-content: center; /* center horizontally */
    // align-items: center; /* center vertically */
        img{
            max-width: 15px;
            max-height: 15px;
        }
        .block1{
            float: right;
            background: #FFFFFF;
            
            min-height: 16%;
            
            min-width: 16%;
            max-width:fit-content;
            
            margin-right: 35%;
            // display: inline-block;
            justify-content: center;
            margin-top: 3%;
            border-radius: 10px;
            font-family: Merriweather;
font-size: 12px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
background: #FFFFFF;

text-align: center;


        }

        .block2{
            float: right;
            background: #EF504D;

            justify-content: center;
            min-height: 16%;
            
            min-width: 16%;
            max-width:fit-content;
            margin-right: 60%;
            // display: inline-block;
            margin-top: 18%;
            // margin-bottom:14% ;
            
            border-radius: 10px;
            font-family: Merriweather;
font-size: 11px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;


           
        }
        .block3{
            float: right;
            background: #FFFFFF;

            justify-content: center;
            border-radius: 10px;
            min-height: 16%;
            min-width: 16%;
            
            max-width:fit-content;
            margin-top:18%;
            // margin-bottom: 5%;
            margin-right: 35%;
            font-family: Merriweather;
font-size: 12px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
text-align: center;

        }
    }
  

    @media (max-width:1300px) {

.aboutimage{


        .block1{

margin-right: 28%;
margin-top: 5%;
        }
        .block2{
margin-right: 20%;
margin-top: 45%;

padding:2%;
        }
        .block3{
margin-right: 32%;
margin-top: 25%;
        }
    }
    }

        @media (max-width:1100px) {

.aboutimage{


        .block1{

margin-right: 25%;
margin-top: 5%;
        }
        .block2{
margin-right: 25%;
margin-top: 50%;
        }
        .block3{
margin-right: 25%;
margin-top: 35%;
        }
    }
    }
    
    @media (max-width:900px) {

.aboutimage{
// padding-top: 2%;

        .block1{

margin-right: 25%;
margin-top: 10%;
padding:2%;
        }
        .block2{
margin-right: 25%;
margin-top: 60%;
padding:2%;

align-items: center;
        }
        .block3{
margin-right: 25%;
margin-top: 30%;
padding:5%;
        }
    }
    }



    @media (max-width: 750px) {
        
        .aboutimage{
            background: none;
            align-items: center;
            max-width: 20%;
            display:flex;
            flex-direction: column;
            
            align-items: center;
            justify-content: center;
            
           

.line{
    min-width: 10px;
    // background-color: #EF504D;
    background: #D9D9D9;

    min-height: 15%;
}

            .block1{
                min-width: 60%;
                margin-top: 10%;
max-height: fit-content;

margin-right: 0%;
justify-content: center;

align-items: center;
float: none;
            }
            .block2{
                min-width: 60%;
                margin-top: 0%;
                // margin-left: none;
                
                margin-right: 0%;
                align-items: center;
                justify-content: center;

float: none;
            }
            .block3{
                
                margin-top: 0%;
                margin-right: 0%;
                min-width: 60%;
                // margin-top: 50%;
                // max-height: 0;
                padding-top: 20px;
                float: none;
                
                align-items: center;
            }


            @media (max-width:550px) {

                .aboutimage{
                // padding-top: 2%;
                
                        .block1{
                max-height: fit-content;
                
                        }
                        .block2{
              max-height: 50px;
                        }
                        .block3{
            max-height: fit-content;
                        }
                    }
                    }





        }
// styles for mobile devices
}
}

}
