.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0A0909;
    color: white;
    padding-top: 3rem;
    .heading {
        font-family: 'Merriweather', serif;
        font-size: 2rem;
        font-weight: 700;
        align-self: center;
        margin: 0rem 2rem;
        word-spacing: 1rem;
    }
    .job {
        .jobheading {
            display: flex;
            align-items: center;
            margin : 3rem 0rem 2rem 2rem;
            img {
                margin-right: 1rem;
            }
            .jobhead {
                font-family: 'Merriweather', serif;
                font-size: 1.5rem;
                font-weight: 400;
                align-self: center;
            }
        }
    }
    @mixin grid($columns, $gutter) {
        display: grid;
        grid-template-columns: repeat($columns, 1fr);
        grid-gap: $gutter;   
    }
    .cards {
        display: grid;
        @include grid(3, 22px);
        padding-bottom: 3rem;
        margin: 0% 2rem;
        // overflow-x: scroll;
        @media (max-width: 1024px) {
            @include grid(2, 40px);
        }
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
        .card {
            border: 1px solid #747474;
            border-radius: 4px;
            background-color: #1B1B1B;
            min-width: 200px;
            .profileimg {
                width: 18%;
                border-radius: 300px;
                margin: 10% 0% 0% 10%;
            }
            .name {
                font-size: 1.3rem;
                font-weight: 500;
                margin: 1% 0% 0% 10%;
            }
            .contactno {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 0% 8%;
                .call {
                    display: flex;
                    flex-direction: row;
                    flex: 1;
                    margin-top: 3%;
                    gap: 3%;
                    align-items: center;
                    justify-content: flex-start;
                    .callno {
                        font-size: 0.8rem;
                        font-weight: 400;
                    }
                }
                .rating {
                    display: flex;
                    flex-direction: row;
                    flex: 1;
                    gap: 3%;
                    justify-content: flex-end;
                    align-items: center;
                    margin: 3% 0% 0% 8%;
                    .ratingval {
                        font-size: 0.8rem;
                        font-weight: 400;
                    }
                }
            }

            .price {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 6%;
                width: 100%;
                background-color: #FFDF8D;
                border-radius: 0px 0px 4px 4px;
                .pricehead {
                    font-size: 0.9rem;
                    font-weight: 500;
                    padding-right: 8%;
                    color: black;
                    margin : 4% 0% 4% 8%;
                    letter-spacing: 0.03rem;
                    white-space: nowrap;
                }
                .charge {
                    display: flex;
                    flex-direction: row;
                    flex: 1;
                    justify-content: flex-end;
                    gap: 2%;
                    align-items: center;
                    margin : 4% 8% 4% 0%;
                    .amount {
                        font-size: 0.9rem;
                        font-weight: 400;
                        color: black;
                    }
                }
            }
        }
        
    }
    .hro{
        background-color: #7A7A7A;
        height: 0.25px;
        opacity: 50%;
    }
}