.contact {
    display: flex;
    flex-direction: column;
    background-color: #F0EDE2;
::-webkit-scrollbar{
    display: none;
}


    .heading {
        font-family: 'Merriweather', serif;
        font-size: 2rem;
        font-weight: 700;
        align-self: center;
        margin-top: 4rem;
        word-spacing: 1rem;
    }

    .job {

        .jobheading {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            margin-top: 3rem;
            margin-left: 5%;

            img {
                margin-right: 1rem;
            }

            .jobhead {
                font-family: 'Merriweather', serif;
                font-size: 1.5rem;
                font-weight: 400;
                align-self: center;
            }
        }
    }

    @mixin grid($columns, $gutter) {
        display: grid;
        grid-template-columns: repeat($columns, 1fr);
        grid-gap: $gutter;
    }

    .cards {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15%;
        @include grid(4, 70px);
        padding-bottom: 3rem;
        margin-left: 5%;
        margin-right: 5%;

        @media (max-width: 1070px) {
            @include grid(2, 50px);
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        .card {

            border: 1px solid #747474;
            border-radius: 16px;
            background-color: none;

            .profileimg {
                width: 18%;
                border-radius: 300px;
                margin-top: 10%;
                margin-left: 10%;
            }

            .name {
                font-family: 'Jost', sans-serif;
                font-size: 1.25rem;
                font-weight: 500;
                margin-top: 1%;
                margin-left: 10%;
            }

            .line1 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-left: 8%;
                margin-right: 8%;

                .call {
                    display: flex;
                    flex-direction: row;
                    flex: 1;
                    margin-top: 3%;
                    gap: 3%;
                    align-items: center;
                    justify-content: flex-start;


                    .callno {
                        font-family: 'Jost', sans-serif;
                        font-size: 0.9rem;
                        font-weight: 400;
                    }
                }

                .rating {

                    display: flex;
                    flex-direction: row;
                    flex: 1;
                    justify-content: flex-end;
                    gap: 3%;
                    align-items: center;
                    margin-top: 3%;

                    .star {
                        width: 12%;
                        height: 70%;
                    }

                    .ratingval {
                        font-family: 'Jost', sans-serif;
                        font-size: 0.9rem;
                        font-weight: 400;
                    }
                }
            }

            .line2 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 6%;
                width: 100%;
                background-color: #EF504D;
                border-bottom-left-radius: 16px;
                border-bottom-right-radius: 16px;

                .line2head {
                    font-family: 'Jost', sans-serif;
                    font-size: 0.9rem;
                    font-weight: 500;
                    padding-right: 8%;
                    color: white;
                    margin-top: 4%;
                    margin-bottom: 4%;
                    margin-left: 8%;
                    letter-spacing: 0.03rem;
                }

                .charge {
                    display: flex;
                    flex-direction: row;
                    flex: 1;
                    justify-content: flex-end;
                    gap: 2%;
                    align-items: center;
                    margin-top: 4%;
                    margin-bottom: 4%;
                    margin-right: 8%;

                    .amount {
                        font-family: 'Jost', sans-serif;
                        font-size: 0.9rem;
                        font-weight: 400;
                        color: white;
                    }
                }
            }
        }
        .hr{
            color: #BABABA;
        }
    }
}