.Sidebar {
  border-right: 1px solid #d9d9d9;
  height: 100vh;
  display: flex;
  padding: 0rem 2rem;
  align-items: center;
  justify-content: space-around;
  overflow: scroll;
  background-color: #0A0909;
  ul {
    height: 100%;
    padding: 0;
    width: auto;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    .link{
      &:focus,:hover {
      filter: invert(85%) sepia(20%) saturate(957%) hue-rotate(349deg) brightness(400%) contrast(90%);
      :hover{
        filter: none;
      }
    }
    li {
      color: #EFEFEF;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: auto;
      margin: 1rem 0rem;
      svg {
        width: 25px;
        height: 25px;
        margin-bottom: 0.3rem;
      }
      :hover{
        filter:none;
       }
    }
  }
  }
}