.container {
    padding: 30px;
    width: 100vw;
    min-height: 100vh;
    background-color: #f0ede2;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .border {
      margin: 4rem 10rem;
      border: 1px solid #bababa;
      box-shadow: 0.9px 0.9px #bababa;
      padding: 2.5rem 6rem;
      border-radius: 20px;
  
      .title {
        font-size: 1.5rem;
        font-weight: 600;
      }
  
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  
        .userdetails {
          display: flex;
          width: 100%;
  
          flex-wrap: wrap;
          justify-content: space-around;
          margin: 20px 0 12px 0;
          .inputbox {
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            @media screen and (max-width: 600px) {
              flex-direction: column;
            }
            .firstName {
              background-image: url(../../assets/rprofile.svg);
              background-repeat: no-repeat;
              background-position: 10px center;
              padding-left: 3rem;
            }
            .lastName {
              background-image: url(../../assets/rprofile.svg);
              background-repeat: no-repeat;
              background-position: 10px center;
              padding-left: 3rem;
            }
            .phone {
              background-image: url(../../assets/phone.svg);
              background-repeat: no-repeat;
              background-position: 10px center;
              padding-left: 3rem;
            }
            .alternate {
              background-image: url(../../assets/call.svg);
              background-repeat: no-repeat;
              background-position: 10px center;
              padding-left: 3rem;
            }
            .wing {
              background-image: url(../../assets/wing.svg);
              background-repeat: no-repeat;
              background-position: 10px center;
              padding-left: 3rem;
            }
            .flat {
              background-image: url(../../assets/flat.svg);
              background-repeat: no-repeat;
              background-position: 10px center;
              padding-left: 3rem;
            }
            .email {
              background-image: url(../../assets/email.svg);
              background-repeat: no-repeat;
              background-position: 10px center;
              padding-left: 3rem;
            }
            .password {
              background-image: url(../../assets/password.svg);
              background-repeat: no-repeat;
              background-position: 10px center;
              padding-left: 3rem;
            }
            .confirm {
              background-image: url(../../assets/confirm.svg);
              background-repeat: no-repeat;
              background-position: 10px center;
              padding-left: 3rem;
            }
            input {
              outline: none;
              border: none;
  
              border-bottom: 1px solid #bababa;
              background-color: #f0ede2;
  
              width: 100%;
              font-size: 16px;
              padding: 1rem;
              margin: 0.5rem;
              transition: all 0.3s ease;
            }
            :focus,
            :valid {
              border-color: #f25d3b;
            }
          }
        }
        .button {
          width: 100%;
          align-items: center;
          justify-content: center;
          display: flex;
          button {
            padding: 1rem 5rem;
  
            justify-content: center;
            align-items: center;
            border-radius: 25px;
            border: none;
            color: #fff;
            font-size: 1.2rem;
            font-weight: 600;
            letter-spacing: 1px;
            cursor: pointer;
            transition: all 0.3s ease;
            background: #f25d3b;
            &:hover {
              background: #f25d3b;
            }
          }
        }
      }
      .end {
        margin-top: 1.25rem;
        font-size: 1rem;
        width: 100%;
        font-weight: 400;
        letter-spacing: 0.05em;
        display: flex;
        justify-content: center;
        align-items: center;
  
        .login {
          color: #f25d3b;
        }
      }
    }
  }
  