.cmemberContainer {
    background-color: #0A0909;
    padding:.1rem 2rem;
  ::-webkit-scrollbar{
    display:none
  }
  h2 {
    margin: 1rem 0rem;
    font-size:2rem;
    letter-spacing: 0.04em;
    color: #BEBEBE;
    font-weight: 700;
  } 
  .h21{
    color: #EFEFEF;
  }
  .h22{
    color: #FFDF8D;
  }
  .allcards{
    display: flex;
    overflow-x: scroll;
    
    .card {
    display: flex;
    align-items: center;
    animation-delay: 1s;
    justify-content: space-evenly;
    background-color: #0A0909;;
    border: 1px solid #747474;
    border-radius: 2px;
    padding: 1.3rem 1.3rem;
    margin: 1.5rem;
    margin-left: 0rem;

    .memberimg {
        display: flex;
        flex-wrap: wrap;
       
      img {
        height: 7rem;
        width: 7rem;
       
        object-fit: cover;
      
      }
    }
    .memberdetails {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 1.87rem;
      text-align: center;
      color: #EFEFEF;
      .membername {
        font-family: "Merriweather";
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        white-space: nowrap;
        letter-spacing: 0.02em;

      }
      .memberrole {
        white-space: nowrap;
        margin-top: 0.4rem;
        font-weight: 400;
        font-size: .7rem;
        letter-spacing: 0.1em;
        
      }
      .phone {
        white-space: nowrap;
        margin-top: 0.4rem;
        display: flex;
        width: 100%;
        align-items: center;
        p {
          margin-left:.5rem;
          font-weight: 300;
          font-size:.7rem;
          letter-spacing: 0.1em;
        }
      }
      .home {
        display: flex;
        align-items: center;
        width: 100%;
        font-weight: 300; 
        font-size:.7rem;
        letter-spacing: 0.02em;
        color: #EFEFEF;;
        margin-top: .5rem;
        .memberhome {
          margin-left:.5rem;
          width: 100%;
          display: flex;
            justify-content: space-evenly;
          .line {
            background-color: #EFEFEF;;
            width: 1px;
            margin: 0rem 0.6rem;
          }
          p{
            white-space: nowrap;
          }
        }
    }
      }
    }
  }
  .scrollbuttons{
   display: flex;
   justify-content: flex-end;
    margin: 1.8rem 2.6rem;
    :hover{
        cursor: pointer;
    }
    .leftArrow{
      display: flex;
      text-align: center;
      margin-right: 1.8rem;
      background-color: #FFDF8D;
      padding: .8rem;
    }
    .rightArrow{
      display: flex;
      padding: .8rem;
      background-color: #FFDF8D;
    }
  }
}
