.cmemberContainer {
    background-color: #F0EDE2;
    padding:.75rem;
  ::-webkit-scrollbar{
    display:none
  }
  h2 {
    margin: 1.5rem;
    font-size:2rem;
    letter-spacing: 0.04em;
    color: #000000;
    font-weight: 700;
  } 
  .allcards{
    display: flex;
    overflow-x: scroll;
    .card {
    display: flex;
    align-items: center;
    animation-delay: 1s;
    justify-content: space-evenly;
    background-color: #1B2227;;
    border: 1px solid #747474;
    border-radius: 20px;
    padding: 1.3rem 1.3rem;
    margin: 1.5rem;
    .memberimg {
        display: flex;
        flex-wrap: wrap;
      img {
        height: 6rem;
        width: 6rem;
        border-radius: 100px;
        object-fit: cover;
      }
    }
    .memberdetails {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 1.87rem;
      text-align: center;
      .membername {
        font-family: "Merriweather";
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        white-space: nowrap;
        letter-spacing: 0.02em;
        color: #F0EDE2;
      }
      .memberrole {
        white-space: nowrap;
        margin-top: 0.4rem;
        font-weight: 400;
        font-size: .7rem;
        letter-spacing: 0.1em;
        color: #F0EDE2;
      }
      .phone {
        white-space: nowrap;
        margin-top: 0.4rem;
        display: flex;
        width: 100%;
        align-items: center;
        color: #E8E5DC;
        p {
          margin-left:.5rem;
          font-weight: 300;
          font-size:.7rem;
          letter-spacing: 0.1em;
        }
      }
      .home {
        display: flex;
        align-items: center;
        width: 100%;
        font-weight: 300; 
        font-size:.7rem;
        letter-spacing: 0.02em;
        color: #E8E5DC;
        margin-top: .5rem;
        .memberhome {
          margin-left:.5rem;
          width: 100%;
          display: flex;
            justify-content: space-evenly;
          .line {
            background-color: #E8E5DC;
            width: 1px;
            margin: 0rem 0.6rem;
          }
          p{
            white-space: nowrap;
          }
        }
    }
      }
    }
  }
  .scrollbuttons{
   text-align: right;
    margin: 1.8rem 2.6rem;
    :hover{
        cursor: pointer;
    }
    .leftarrow{
        margin-right: 1.8rem;
    }
  }
}
