.loginpage {
    min-height: 100vh;
    background-color: #F0EDE2;
    box-sizing: border-box;
    border: 1px solid #BABABA;
    display: flex;
    position: relative; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .form {

        input[type="checkbox"] {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            width: 16px;
            height: 16px;
            border-radius: 3px;
            outline: none;
            ::-ms-ticks-after{
                color: white;
            }
          }
          
          input[type="checkbox"]::before {
            content: "";
            display: inline-block;
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 0px;
            background-color: transparent;
            border: 1.5px solid #000;
            margin-top:0.18rem;
            transition: all 0.3s ease-in-out;
          }
          
          input[type="checkbox"]:checked::before {
            background-color: #EF504D;
            border-color: #EF504D;
            content: "\1F5F8";
            ::-ms-ticks-after{
                color: white;
 
            }     
          }

        height: 60%;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .check{
            font-weight: bold;
            color: black;
            font-family: 'Merriweather', serif;
        }

        .logo{
            
            width: 8rem;
            height: 8rem;
            box-sizing: border-box;
            border: 1px solid #BABABA;
            border-radius:1rem;
        }

        .head{
            font-family: 'Jost', sans-serif;
            font-weight: 600;
            font-size: 1.25rem;
            letter-spacing: 0.1rem;
            padding-top: 1rem;
        }

        .emailinfo{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            border: 1px solid #BABABA;
            border-left: none;
            border-right: none;
            border-top: none;
            padding-top: 3rem;

            .email{
                font-family: 'Jost', sans-serif ;
                font-weight: 300;
                font-size: 1.1rem;
                border: none;
                padding: 0.5rem;
                outline: none;
                width:100%;
                letter-spacing: 0.1rem;
                background: transparent;
                padding-left: 1rem;
            }

            .emailimg{
                width: 2rem;
                height: 3rem;
            }
        }

        .passinfo{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            border: 1px solid #BABABA;
            border-left: none;
            border-right: none;
            border-top: none;
            padding-top: 1rem;

            .pass{
                font-family: 'Jost', sans-serif ;
                font-weight: 300;
                font-size: 1.1rem;
                border: none;
                padding: 0.5rem;
                outline: none;
                width:100%;
                letter-spacing: 0.1rem;
                background: transparent;
                padding-left:1rem;     
            }

            .passimg{
                width: 2rem;
                height: 3rem;
            }

            .eyeopen{
                width:2rem;
                height: 3rem;
            }

            .eyeopen:hover{
                cursor: pointer;
            }
        }

        .wrapper{
            display: flex; 
            flex-direction: row;
            margin-top: 1rem;
            width: 100%;
            justify-content: space-between;
            
            .remember{
                display: flex;
                flex-direction: row;
                align-self: flex-start;
                white-space: nowrap;

                .remembertext{
                    font-family: 'Jost', sans-serif ;
                    font-weight: 300;
                    font-size: 1rem;
                    letter-spacing: 0.05rem;
                    padding-left: 0.4rem;
                }

                .remembercheck{    
                    margin-top:4rem;
                }
            }

        .forgot{
            font-family: 'Jost', sans-serif ;
            font-weight: 300;
            font-size: 1rem;
            letter-spacing: 0.05rem;
            white-space: nowrap;     
        }

        .forgot:hover{
            cursor: pointer;
            text-decoration: underline;
        }

        @media screen and (max-width:420px) {
            flex-direction: column;
        }
    }

        .loginbtn{
            width:50% ;
            height: 3rem;
            align-items: center;
            border: none;
            background-color: #EF504D;
            border-radius: 3rem;
            font-weight: bold;
            color: white;
            font-family: 'Jost', sans-serif ;
            font-size: 1rem;
            margin-top: 3rem;

            &:hover {
                background-color: #e04a48;
                cursor: pointer;
            }

        }

        .register{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            width: 100%;

            .text1{
                font-family: 'Jost', sans-serif ;
                font-weight: 300;
                font-size: 1rem;
            }
            
            .text2{
                font-family: 'Jost', sans-serif ;
                font-weight: 300;
                font-size: 1rem;
                color:#EF504D;
                font-weight: bold;
                padding-left: 0.5rem;
            }

            .text2:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }  
    }
} 