::-webkit-input-placeholder{
    color: white;
}
.loginpage {
    min-height: 100vh;
    background-color: #0A0909;
    box-sizing: border-box;
    border-left: 1px solid #BABABA;
    display: flex;
    align-items: center;
    justify-content: center;
    .form {
        input[type="checkbox"] {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            width: 16px;
            height: 16px;
            border-radius: 3px;
            outline: none;
            ::-ms-ticks-after{
                color: white;
            }
          }
          
          input[type="checkbox"]::before {
            content: "";
            display: inline-block;
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 0px;
            background-color: transparent;
            border: 1.5px solid #fff;
            margin-top:0.18rem;
            transition: all 0.3s ease-in-out;
          }
          
          input[type="checkbox"]:checked::before {
            background-color: #FFDF8D;
            border-color: #FFDF8D;
            content: "\1F5F8";
            ::-ms-ticks-after{
                color: white;
 
            }     
          }
        height: 60%;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .check{
            font-weight: bold;
            color: white;
            font-family: 'Merriweather', serif;
        }
        .logo{   
            width: 8rem;
            height: 8rem;
            box-sizing: border-box;
            border: 1px solid white;
        }
        .head{
            font-weight: 600;
            font-size: 1.25rem;
            letter-spacing: 0.1rem;
            padding-top: 1rem;
        }

        .emailinfo{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-bottom: 1px solid white;
            padding-top: 3rem;
            .email{
                font-family: 'Jost', sans-serif ;
                font-weight: 300;
                font-size: 0.9rem;
                border: none;
                padding: 0.5rem;
                color: white;
                
                outline: none;
                width:100%;
                letter-spacing: 0.1rem;
                background: transparent;
                padding-left: 1rem;
            }
            .emailimg{
                width: 1.5rem;
                height: 2rem;
            }
        }

        .passinfo{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-bottom: 1px solid white;
            padding-top: 1rem;

            .pass{
                font-family: 'Jost', sans-serif ;
                font-weight: 300;
                font-size: 0.9rem;
                border: none;
                padding: 0.5rem;
                outline: none;
                width:100%;
                color: white;
                letter-spacing: 0.1rem;
                background: transparent;
                padding-left:1rem;     
            }
            .passimg{
                width: 1.5rem;
                height: 2rem;
            }
            .eyeopen{
                width:1.5rem;
                height: 2rem;
            }
            .eyeopen:hover{
                cursor: pointer;
            }
        }
        .wrapper{
            display: flex; 
            margin-top: 1rem;
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;
            .remember{
                display: flex;
                align-self: flex-start;
                white-space: nowrap;
                .remembertext{
                    font-weight: 300;
                    font-size: 0.85rem;
                    letter-spacing: 0.05rem;
                    padding-left: 0.4rem;
                    color: white;
                }
                .remembercheck{    
                    margin-top:4rem;
                }
            }
        .forgot{
            font-weight: 300;
            font-size: 0.85rem;
            letter-spacing: 0.05rem;
            white-space: nowrap;    
            margin-left: 1rem; 
            color: white;
        }
        .forgot:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }
        .loginbtn{
            width:50% ;
            height: 3rem;
            align-items: center;
            border: none;
            background-color: transparent;
            border: .5px solid white;
            font-weight: bold;
            color: white;
            font-size: 1rem;
            margin-top: 3rem;
            &:hover {
                background-color: #FFDF8D;
                color: black;
                border: none;
                transition-delay: 0.1s;
                cursor: pointer;
            }
        }
        .register{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            width: 100%;
            flex-wrap: wrap;
            .text1{
                font-weight: 300;
                font-size: 0.9rem;
                white-space: nowrap;
                color: white
            }
            .text2{
                font-weight: 300;
                font-size: 0.9rem;
                color:#FFDF8D;
                font-weight: bold;
                padding-left: 0.3rem;
                white-space: nowrap;
            }
            .text2:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }  
    }
} 